# Binaries
account-cmd/account-cmd
account-query/account-query

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

vendor/

# Environment files
.env
.env.*

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
/.idea/
